.footer{
    display: flex;
    background-color: #B7B78A ;
    /* background-image: linear-gradient( #FFF8BC, navy); */
    /* gap: 140px; */
    align-items: center;
    height: 200px;
}
.fot{
    /* width: 200px; */
    margin-left: 300px;
    /* padding-left: 30px; */
    width: 150px;
    border-radius: 150px;
    /* margin-left: 20px; */
}
.fott{
    width: 70px;
    margin-left: 70px;
    gap: 10px;
}
h4,h5{
    color: white;
    padding-left: 70px;
}

.inf{
    color: white;
    margin-left: 200px;
}
.steak{
    margin-left: 100px;
}
.rigt {
    color: black;
    /* background-color: #fce732; */
    background-image: linear-gradient(#FFF8BC, black);
    padding-left: 80px;
    height: 30px;
    text-align: center;
}

.phg{
    padding-left: 70px;
}

.icon{
    margin-left: 220px;
    color: white;
}
.pp{
    margin-left: 90px;
}

@media screen and (max-width: 600px){
    .footer{
       padding-right: 10px;
       width: 390px;
       display: flex;
    }
    .rigt {
        font-size: 10px;
        padding-top: 10px;
    }
    .fot {
        width: 120px;
    }
    .steak{
        font-size: 11px;
    } 
    .inf1 {
        font-size: 10px;
        text-align: center;
        margin-right: 20px;
    }
    .fot {
      width: 90px;
    }
}
