.cr{
    justify-content: center;
    display: flex;
    gap: 80px;
    padding-top: 30px;
    color: white;
    /* margin-top: 20px */
}

/* .isi{
    background-color: #FFF8BC;
    background-image: url("https://img.wallpaper.sc/android/images/1080x1920/android-1080x1920-wallpaper_03794.jpg");
    background-size: cover;
    background-image: linear-gradient( #FFF8BC,navy, #FFF8BC);
} */

.crr{
    padding: 10px;
}
.carousel-inner{
    padding: 100px;
    /* width: 50%;
    height: 50%; */
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2 :hover{
    color: yellow;
}

.btn-group{
    margin-left: 10%;
}
.dropdown-menu{
  /* background-color: #2B3A55; */
  background-image: linear-gradient( white,navy);
}
.baru{
    /* background-color: #182747; */
    background-image: linear-gradient( #FFF8BC, black);
    border: 5px;
    border-radius: 35px;
    color: white;
    padding: 5px;
    /* width: 900px; */
    margin-left: 1%;
}

.card{
    /* background-color: #2B3A55; */
    background-image: linear-gradient( #FFF8BC, black);
}

.beli{
    margin-left: 30%;
}
.ss{
    border: 0px;
    width: 25px;
}
/* .card-text{
    text-align: left;
    margin-right: 20%;
} */
@media screen and (max-width: 768px) {
    .slide1 {
        width: 100%;
    }
 } 