.reg{
    /* background-color: #2B3A55; */
    /* border-radius: 5px; */
    padding: 4px;
    color: black;
}

.container{
    /* background-color:#2B3A55; */
    /* border: 5px; */
    width: 40%;
    height: 400%;
    /* border-radius: 15px; */
    /* padding: 50px; */
    color: black;
    text-align: center;
}

.sr{
    text-align: center;
    margin-top: 10px;
}
.srr{
    text-align: center;
    margin-top: 10px;
}
.notReg{
    text-align: center;
}
.re{
    background-color: orangered;
}