.images{
    width: 150px;
    border-radius: 150px;
    margin-left: 20px;
}
.nav{
    width: 100%;
    /* background-color: #2B3A55; */
    /* background-image: linear-gradient(#FFF8BC,navy); */
    background-color: #B7B78A;
}

.navbar a{
    color: white;
    /* margin-left: 30%; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar :hover{
    color: yellow;
}
.btn-group{
    margin-left: 150%;
}
.dropdown-menu{
  background-color: slategray;
}

.cart{
    margin-left: 70%;
}
.crt{
    /* margin-left: 700px; */
    font-size: 150%;
}
.lo{
    margin-left: 700px;
    font-size: 30px;
}
.loo{
    margin-left: 850px;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    /* .dropdown-menu {
        gap: 10px;
       background-color: black;
    } */
    /* .bar {
        display: block;
        text-align: center;
    } */
}