.akn{
    text-align: justify;
    margin-left: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.User{
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 4px;
}
.pro{
    height: 150px;
    width: 100px;
    margin-left: 50px;
}
.nama{
    width: 500px;
    height: 30px;
}
.input{
    gap: 10px;
}
.in{
    margin-top: 50px;
    width: 100vh;
    /* border: 1px solid; */
    text-align: justify;
    padding-left: 30px;
}
.wee{
    display: flex;
    border: 1px ;
    border-radius: 40px;
    width: 50%;
    height: 60%;
    background-color: white;
}
.ye{
    /* border-radius: 50%; */
    padding: 30px;
    border-radius: 30%;
    height: 300px;
    width: 300px;
}

.ya{
    /* border: 1px solid; */
    padding: 60px;
    /* margin: 80px 150px 150px; */
    /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201111/pngtree-background-of-brown-abstract-watercolor-image_468939.jpg");
    background-size: cover; */
    height: 100vh;
    color: black;
    background-color: #EAE7B1;
    display: flex;
    gap: 15%;
    /* border-radius: 40px; */
}
.sim{
    border: 1px solid peru;
    border-radius: 10px;
    padding: 8px;
    background-color: peru;
    width: 25%;
}
.iii{
   border-radius: 50%;
   margin-left: 10%;
}
@media screen and (max-width: 768px) {
    .wee {
        display: block;
    }
    .akn{
        width: 350px;
        margin-left: -15%;
        text-align: center;
    }
    .ye {
        width: 200px;
        height: 150px;
        margin-left: 40px;
    }
    .in {
        width: 300px;
        margin-left: -10px;
    }
    .ya {
        /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201111/pngtree-background-of-brown-abstract-watercolor-image_468939.jpg");   */
        background-size: cover;
        height: 100%;
        color: black;
    }
}